<div class="barraLat">
    <h2>Menù</h2>
    <div class="sezione">
        <div class="img"><img src="/assets/Panini.png" alt="Hamburgers"></div>
        <div><h3>Hamburgers</h3></div>
    </div>
    
    <div class="sezione">
        <div class="Img"><img src="/assets/Contorni.png" alt="Contorni"></div>
        <div><h3>Contorni</h3></div>
    </div>
    
    <div class="sezione">
        <div class="Img"><img src="/assets/Bibite.png" alt="Bibite"></div>
        <div><h3>Bibite</h3></div>
    </div>

    <div class="sezione">
        <div class="Img"><img src="/assets/DolciECaffe.png" alt="Dolci e Caffè"></div>
        <div><h3>Dolci e Caffè</h3></div>
    </div>
    
</div>